.experience {
  span {
    font-weight: 300;
  }
  .boxxx {
    margin-top: 5vh;
  }
  .MuiSlider-valueLabelOpen {
    .MuiSlider-valueLabel {
      .css-nnid7-MuiSlider-valueLabel {
          background-color: none !important;
        color: black !important;
      }
    }
  }
}


